<!DOCTYPE HTML>
</html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>World Data Index</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <!-- Borrowed tweet interface from:
    https://medium.freecodecamp.org/vue-js-introduction-for-people-who-know-just-enough-jquery-to-get-by-eab5aa193d77"-->

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="assets/css/index.css" />
  </head>
  <body>
    <div class="container text-center justify-content-center">
      <h1 class="header">
        World Data Index
      </h1>
      <nav class="navbar navbar-light bg-light navbar-margin navbar-thin rounded" id = "headerBar">
        <a class="nav-link dropdown-toggle" href="#" id="sourceOptions" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Choose Source: {{source}}
        </a>
        <div class="dropdown-menu">
          <ul class="list-unstyled">
            <li v-for="(source, index) of availableSources" v-on:click=changeSource(index)>{{source}}</li>
          </ul>
        </div>


      </nav>
      <div class="row justify-content-center" style="opacity: .9">
        <div class="col-md-12">
          <div class="card" id="searchCriteriaForm">
            <div class="card-body text-black">
              <div class="row box-margin">
                <div class="col-md-12">
                  <form>
                     <label for="searchTextBox">Keyword:
                       <input class="form-control mr-sm-2" type="search" placeholder="Search for Data Set" aria-label="Search" v-model="searchText">
                     </label>
                     <label for="countryDropdown">Country:
                       <select class="form-control" id="countryDropdown" v-model="countryOption" value="Choose your Country" required>
                         <option value="all">
                           All
                         </option>
                          <option v-for="country of countries" v-bind:value="countryOption">{{country.name}}</option>
                        </select>
                      </label>
                      <label for="indicatorDropdown">Indicator:
                        <select class="form-control" id="indicatorDropdown" v-model="indicatorOption" value="Choose an Indicator" required>
                          <option>
                            Choose your Indicator
                          </option>
                           <option v-for="indicator of indicators" v-bind:value="indicatorOption">{{indicator.name}}</option>
                         </select>
                       </label>
                       <label for="yearDropdown">Year:
                         <select class="form-control" id="indicatorDropdown" v-model="yearOption" value="Choose a Year" required>
                           <option>
                             Choose your Year
                           </option>
                            <option v-for="i in (1967,2018)" v-bind:value="yearOption">{{i}}</option>
                          </select>
                        </label>
                        <button class="btn btn-outline-info" type="submit" v-on:click="searchForDataSet">Search</button>
                     </form>
                  </div>
              </div>
              <div class="row box-margin" v-show="noResults == true">
                <div class="col-md-12">
                  <div class="alert alert-danger fade show" role="alert" >
                    <strong>Not Found:</strong> Results matching your search not found.
                  </div>
                </div>
              </div>
              <div class="row box-margin" v-show="!noResults">
                <div class="col-md-12">
                  <table class="table table-bordered">
                      <th>
                       Data Set ID
                      </th>
                      <th>
                       Country
                      </th>
                      <th>
                       Indicator
                      </th>
                      <th>
                       Year
                      </th>
                      <tr v-for="(dataset, index) in results">
                       <td>
                         {{index + 1}}
                       </td>
                       <td>
                         <a href="dataset.url">{{dataset.country.value}}</a>
                       </td>
                       <td>
                         {{dataset.indicator.value}}
                       </td>
                       <td>
                         {{dataset.date}}
                       </td>
                      </tr>
                    </table>
                    <nav class="text-center text-info" >
                      <ul class="pagination  justify-content-center text-info">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>
    </div>
  </body>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  <script src="assets/js/index.js"></script>
</html>
